
/* ###########  HEAD  ########### */

.head-duck-up {
    margin-left: 4px;
    height: calc(100% - 10px);
    width: calc(100% - 8px);
    background-color: #107c10;
    border-radius: 0 0 10px 10px;
}
.head-duck-up::before {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    background-color: #030d0a;
    border: 4px solid #e0e2df;
    border-radius: 6px;
    transform: translate(14px, 8px);
}
.head-duck-up::after {
    display: block;
    content: "";
    height: 4px;
    width: 4px;
    background-color: #030d0a;
    border: 4px solid #e0e2df;
    border-radius: 6px;
    transform: translate(-2px, -12px);
}
.head-duck-up > div {
    height: 0px;
    width: 2px;
    border-top: 8px solid #dba737;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    transform: translate(9px, 10px);
}



.head-duck-down {
    margin-top: 10px;
    margin-left: 4px;
    height: calc(100% - 10px);
    width: calc(100% - 8px);
    background-color: #107c10;
    border-radius: 10px 10px 0 0;

}
.head-duck-down::before {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    background-color: #030d0a;
    border: 4px solid #e0e2df;
    border-radius: 6px;
    transform: translate(-2px, 2px);
}
.head-duck-down::after {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    background-color: #030d0a;
    border: 4px solid #e0e2df;
    border-radius: 6px;
    transform: translate(14px, -18px);
}
.head-duck-down > div {
    height: 0px;
    width: 2px;
    border-bottom: 8px solid #dba737;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    transform: translate(9px, -20px);
}


.head-duck-left {
    margin-top: 4px;
    border-radius: 0 10px 10px 0;
    height: calc(100% - 8px);
    width: calc(100% - 10px);
    background-color: #107c10;

}
.head-duck-left::before {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 8px;
    background-color: #030d0a;
    border: 4px solid #e0e2df;
    border-radius: 6px;
    transform: translate(8px, -2px);

}
.head-duck-left::after {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 8px;
    background-color: #030d0a;
    border: 4px solid #e0e2df;
    border-radius: 6px;
    transform: translate(8px, -4px);
}
.head-duck-left > div {
    height: 2px;
    width: 0px;
    border-left: 8px solid #dba737;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: translate(22px, -3px);
}

.head-duck-right {
    margin-top: 4px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    height: calc(100% - 8px);
    width: calc(100% - 10px);
    background-color: #107c10;

}
.head-duck-right::before {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 8px;
    background-color: #030d0a;
    border: 4px solid #e0e2df;
    border-radius: 6px;
    transform: translate(2px, -2px);
}
.head-duck-right::after {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 8px;
    background-color: #030d0a;
    border: 4px solid #e0e2df;
    border-radius: 6px;
    transform: translate(2px, -4px);
}
.head-duck-right > div {
    height: 2px;
    width: 0px;
    border-right: 8px solid #dba737;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: translate(-8px, -3px);
}

/* ###########  LINE  ########### */

.body-duck-down-up {
    background-color: #e0e2df;
    margin-left: 4px;
    height: 100%;
    width: calc(100% - 12px);
    border-left: 2px dashed #8e562e;
    border-right: 2px dashed #8e562e;
}


.body-duck-up-down {
    background-color: #e0e2df;
    margin-left: 4px;
    height: 100%;
    width: calc(100% - 12px);
    border-left: 2px dashed #8e562e;
    border-right: 2px dashed #8e562e;
}


.body-duck-left-right {
    background-color: #e0e2df;
    margin-top: 4px;
    width: 100%;
    height: calc(100% - 12px);
    border-top: 2px dashed #8e562e;
    border-bottom: 2px dashed #8e562e;
}


.body-duck-right-left {
    background-color: #e0e2df;
    margin-top: 4px;
    width: 100%;
    height: calc(100% - 12px);
    border-top: 2px dashed #8e562e;
    border-bottom: 2px dashed #8e562e;
}

/* ###########  CORNER  ########### */

.body-duck-up-right {
    background-color: #e0e2df;
    margin-left: 4px;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 0 0 0 4px;
    border-left: 2px dashed #8e562e;
    border-bottom: 2px dashed #8e562e;
}
.body-duck-up-right::after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    transform: translate(calc(var(--tile-size) - 12px), 0px);
    border-left: 2px solid #8e562e;
    border-bottom: 2px solid #8e562e;
    border-radius: 0 0 0 2px;
}


.body-duck-up-left {
    background-color: #e0e2df;
    margin-right: 4px;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 0 0 4px 0;
    border-right: 2px dashed #8e562e;
    border-bottom: 2px dashed #8e562e;
}
.body-duck-up-left::after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-right: 2px solid #8e562e;
    border-bottom: 2px solid #8e562e;
    border-radius: 0 0 2px 0;
}


.body-duck-down-left {
    background-color: #e0e2df;
    margin-top: 4px;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 0 4px 0 0;
    border-right: 2px dashed #8e562e;
    border-top: 2px dashed #8e562e;
}
.body-duck-down-left::after {
    display: block;
    content: "";
    margin-top: calc(100% - 6px);
    width: 4px;
    height: 4px;
    border-right: 2px solid #8e562e;
    border-top: 2px solid #8e562e;
    border-radius: 0 2px 0 0;
}

.body-duck-down-right {
    background-color: #e0e2df;
    margin-top: 4px;
    margin-left: 4px;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 4px 0 0 0;
    border-left: 2px dashed #8e562e;
    border-top: 2px dashed #8e562e;
}
.body-duck-down-right::after {
    display: block;
    content: "";
    margin-top: calc(100% - 6px);
    margin-left: calc(100% - 6px);
    width: 4px;
    height: 4px;
    transform: translate(0px, calc(100% - 6px));
    border-left: 2px solid #8e562e;
    border-top: 2px solid #8e562e;
    border-radius: 2px 0 0 0;
}

/* ###########  QUEUE  ########### */

.queue-duck-up {
    margin-left: 4px;
    width: calc(100% - 12px);
    height: calc(100% - 20px);
    background-color: #e0e2df;
    border-left: 2px dashed #8e562e;
    border-right: 2px dashed #8e562e;
}
.queue-duck-up::before {
    display: block;
    content: "";
    height: 0;
    width: calc(100% + 4px);
    border-bottom: 16px solid #d04708;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: translate(-5px, 12px);
}
.queue-duck-up::after {
    display: block;
    content: "";
    height: 0px;
    width: 0px;
    transform: translate(8px, 0px);
}
.odd > .queue-duck-up::after {
    border-bottom: 12px solid var(--tile-color-2);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
.even > .queue-duck-up::after {
    border-bottom: 12px solid var(--tile-color-1);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}


.queue-duck-down {
    margin-left: 4px;
    margin-top: 20px;
    width: calc(100% - 12px);
    height: calc(100% - 20px);
    background-color: #e0e2df;
    border-left: 2px dashed #8e562e;
    border-right: 2px dashed #8e562e;
}
.queue-duck-down::before {
    display: block;
    content: "";
    height: 0;
    width: calc(100% + 4px);
    border-top: 16px solid #d04708;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: translate(-5px, -16px);
}
.queue-duck-down::after {
    display: block;
    content: "";
    height: 0px;
    width: 0px;
    transform: translate(8px, -32px);
}
.odd > .queue-duck-down::after {
    border-top: 12px solid var(--tile-color-2);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
.even > .queue-duck-down::after {
    border-top: 12px solid var(--tile-color-1);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}


.queue-duck-left {
    margin-top: 4px;
    width: calc(100% - 20px);
    height: calc(100% - 12px);
    background-color: #e0e2df;
    border-top: 2px dashed #8e562e;
    border-bottom: 2px dashed #8e562e;
}
.queue-duck-left::before {
    display: block;
    content: "";
    width: 0;
    height: calc(100% + 4px);
    border-right: 16px solid #d04708;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: translate(12px, -5px);
}
.queue-duck-left::after {
    display: block;
    content: "";
    height: 0px;
    width: 0px;
    transform: translate(16px, -22px);
}
.odd > .queue-duck-left::after {
    border-right: 12px solid var(--tile-color-2);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.even > .queue-duck-left::after {
    border-right: 12px solid var(--tile-color-1);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}


.queue-duck-right {
    margin-top: 4px;
    margin-left: 20px;
    width: calc(100% - 20px);
    height: calc(100% - 12px);
    background-color: #e0e2df;
    border-top: 2px dashed #8e562e;
    border-bottom: 2px dashed #8e562e;
}
.queue-duck-right::before {
    display: block;
    content: "";
    width: 0;
    height: calc(100% + 4px);
    border-left: 16px solid #d04708;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: translate(-16px, -5px);
}
.queue-duck-right::after {
    display: block;
    content: "";
    height: 0px;
    width: 0px;
    transform: translate(-16px, -22px);
}
.odd > .queue-duck-right::after {
    border-left: 12px solid var(--tile-color-2);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.even > .queue-duck-left::after {
    border-left: 12prightx solid var(--tile-color-1);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}